In [1]:
import sys
import os
import pandas_datareader as web
import import_ipynb
from gbm_returns import *

importing Jupyter notebook from gbm_returns.ipynb

In [14]:
# Read Data for DAX from the Web

def read_dax_data():
    ''' Reads historical DAX data from Yahoo! Finance, calculates log returns,
    realized variance and vol'''
    DAX = pd.read_csv('http://hilpisch.com/tr_eikon_eod_data_long.csv',
                      index_col=0, parse_dates=True)['.GDAXI']
    DAX = pd.DataFrame(DAX)
    DAX = DAX.loc['2004-09-30':'2014-09-30'] 
    DAX.rename(columns={'.GDAXI': 'index'}, inplace=True)
    DAX['returns'] = np.log(DAX['index'] / DAX['index'].shift(1))
    DAX['rea_var'] = 252 * np.cumsum(DAX['returns'])/np.arange(len(DAX))
    DAX['rea_vol'] = np.sqrt(DAX['rea_var'])
    DAX = DAX.dropna()
    return DAX

def count_jumps(data, value):
    ''' Counts the number of return jumps as defined in size by value.'''
    jumps = np.sum(np.abs(data['returns']) > value)
    return jumps

In [15]:
data = read_dax_data()  
data

C:\Anaconda3\lib\site-packages\pandas\core\series.py:726: RuntimeWarning: invalid value encountered in sqrt
  result = getattr(ufunc, method)(*inputs, **kwargs)

              index   returns   rea_var   rea_vol
Date
2004-10-01  3994.96  0.025879  6.521555  2.553733
2004-10-04  4033.28  0.009546  4.463621  2.112728
2004-10-05  4048.71  0.003818  3.296490  1.815624
2004-10-06  4049.66  0.000235  2.487148  1.577070
2004-10-07  4043.36 -0.001557  1.911251  1.382480
...             ...       ...       ...       ...
2014-09-24  9661.97  0.006952  0.063600  0.252190
2014-09-25  9510.01 -0.015853  0.062042  0.249082
2014-09-26  9490.55 -0.002048  0.061820  0.248637
2014-09-29  9422.91 -0.007153  0.061105  0.247194
2014-09-30  9474.30  0.005439  0.061607  0.248208

[2435 rows x 4 columns]

In [18]:
count_jumps(data,0.02)

247